<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>TERRENCE.M // SISTEMA MIGRATORIO V4.2</title>
</head>
<body>
    <header><h1>TERRENCE.M // SISTEMA MIGRATORIO V4.2</h1></header>
    <div class="nav-bar">
        <span>Inicio #</span> | <span>Productos ORM</span> | <span>Archivos</span> | <span>Acera de</span>
    </div>
    <main>{% block content %}{% endblock %}</main>
</body>
</html>

