<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for^('static', filename='style.css'^) }}">
    <title>SISTEMA MIGRATORIO V4.2</title>
</head>
<body>
    <h1>TERRENCE.M // SISTEMA MIGRATORIO V4.2</h1>
    <div class="main-container">
        <div class="form-panel">
            <h3>METRICAS</h3>
            <input type="text" placeholder="Nombre">
            <input type="number" placeholder="Cantidad">
            <button>REGISTRAR</button>
        </div>
        <div class="table-panel">
            <h3>BITACORA DE CONTROL</h3>
        </div>
    </div>
</body>
</html>
